<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Login/Signup Page</title>
  <link rel="stylesheet" href="/static/stylesheet.css">
</head>
<body>
  <header>
	<div class="spotify-logo">
		<a href="/">
			<img src="/static/spotify.jpg" alt="Spotify Logo">
		</a>
	</div>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
				<li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
        
		</ul>
	</nav>
  </header>
  <div class="container">
    {% if 'email' in session %}
      <div class="user-profile">
      </div>
    {% else %}
      <h1>Login</h1>
      {% if login_error %}
        <p class="error-message">User account does not exist. Please sign up.</p>
      {% endif %}
      <form method="POST" action="/login">
        <label id="email" for="email">Email</label>
        <input type="email" id="email" name="email" required>
        <label id="password" for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
      </form>
      <p>Don't have an account? <a href="/signup">Sign up</a></p>
    {% endif %}
  </div>
</body>
</html>
